<div class="row col-xs-offset-1 col-xs-10" >
  <div class="card-panel" infinite-scroll="" infinite-scroll-distance="0">
    <table class="table table-hover table-condensed">
            <tr>
                <th>Date</th>
                <th>Type </th>
                <th>Montant</th>

            </tr>
            <tr ng-repeat="transaction in transactions | orderBy:'-created' | limitTo:loadNb">
                <td>{{transaction.created | date}}</td>
                <td>
                    <span ng-if="transaction.label=='debit'" class="label label-info">{{transaction.label}}</span>
                    <span ng-if="transaction.label=='credit'" class="label label-success">{{transaction.label}}</span>
                </td>
                <td>{{transaction.amount/100 | currency }}</td>
            </tr>

      </table>
  </div>
</div>
