</br></br></br>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="card white darken-1">
            <div class="card-content">
                <h2 class="text-center black-text">Bienvenue</h2>
                <p class="text-center black-text" >Horaires d'ouverture</p>
                <p class="text-center black-text">Lundi au Vendredi</p>
                <p class="text-center black-text">12h-13h et 18h-19h</p>
            </div>
            <div class="card-action">
                <span class="black-text">La supérette est actuellemment ouverte</span>
                <button class="btn btn-default waves-effect waves-light center-block"  ui-sref="index.login">Connexion</button>
            </div>
        </div>
    </div>
</div>
