<nav class="navbar default-color">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class="active" ng-if="!main.isLoggedIn()">
                    <a ui-sref="index.login">Connexion</a>
                </li>
                <li  ng-if="main.isLoggedIn()">
                    <a href="" ng-click="main.logout()">Déconnexion</a>
                </li>
                <li class="active" ng-if="main.isLoggedIn()" ui-sref-active="active">
                    <a ui-sref="index.orders">Logger</a>
                </li>
                <li class="active" ng-if="main.isLoggedIn()" ui-sref-active="active">
                    <a ui-sref="index.users">Utilisateurs</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="main-content" class="container" ui-view=""></section>
