<p>This should create a transaction into the event : <event-short event="TransHeavyMakeCtl.the_event" /></p>


<form ng-submit="TransHeavyMakeCtl.saveTransaction(TransHeavyMakeCtl.transaction)">
    <div class="form-group">
        <label for="tState">State</label>
        <div>
            <select id="tState" ng-options="s for s in ['P', 'A', 'R', 'X', 'C']" ng-model="TransHeavyMakeCtl.transaction.state">
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="tAmount">Amount</label>
        <div>
            <input id="tAmout" type="number" ng-model="TransHeavyMakeCtl.transaction.amount" />
        </div>
    </div>

    <div class="form-group">
        <label for="tLabel">Label</label>
        <div>
            <input id="tLabel" type="text" ng-model="TransHeavyMakeCtl.transaction.label" />
        </div>
    </div>

    <div class="form-group">
        <label for="tCAccount">Credited account</label>
        <div>
            <input disabled id="tCAccount" type="text" ng-model="TransHeavyMakeCtl.cAccount.short_name" />
        </div>
    </div>

    <div class="form-group">
        <label for="tDAccount">Debited account</label>
        <div>
            <input disabled id="tDAccount" type="text" ng-model="TransHeavyMakeCtl.dAccount.short_name" />
        </div>
    </div>


    <div class="form-group">
        <div>
            <input type="submit" value="Soumettre la transaction" />
        </div>
    </div>
</form>
